---
import RootLayout from "@/components/RootLayout.astro";
import HeroLocalService from "@/components/sections/HeroLocalService.astro";
import LocalTrustStrip from "@/components/sections/LocalTrustStrip.astro";
import ServiceMosaic from "@/components/sections/ServiceMosaic.astro";
import ProofBand from "@/components/sections/ProofBand.astro";
import QuoteTakeover from "@/components/sections/QuoteTakeover.astro";
import ProcessTimeline from "@/components/sections/ProcessTimeline.astro";
import CtaFooterTakeover from "@/components/sections/CtaFooterTakeover.astro";
import { config } from "@/config";
import { designIdentity } from "@/design/identity";
---

<RootLayout title={`${config.name} - ${config.tagline}`} description={config.description}>
  <div data-design-archetype={designIdentity.archetype} data-design-motif={designIdentity.visualMotif}>
    <HeroLocalService />
    <LocalTrustStrip />
    <ServiceMosaic />
    <ProofBand />
    <QuoteTakeover />
    <ProcessTimeline />
    <CtaFooterTakeover />
  </div>
</RootLayout>
